<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}"    >


<!-- 현재 페이지에서만 사용하는 컨텐츠(내용) 정의 -->
<div layout:fragment="content" class="p-4">

    <div class="card">
      <div class="card-header">
        Board Modify
      </div>

      <div class="card-body m-4">
        <form action="/board/modify"
              th:action="@{/board/modify}" method="post" id="f1">
          <!-- 1. 글 제목 -->
          <div class="form-floating mb-3">

            <input type="text" 	class="form-control"
                   id="bno"
                   name="bno"  th:value="${dto.bno}" readonly  >
            <label for="title" >Bno</label>
          </div>

          <!-- 1. 글 제목 -->
          <div class="form-floating mb-3">

            <input type="text" 	class="form-control"
                   id="title"
                   name="title"   th:value="${dto.title}"
                   placeholder="2자이상 100이내로 작성하세요">
            <label for="title" >Title</label>
          </div>

          <!-- 2. 게시글 내용 -->
          <div class="form-floating mb-3">
            <!-- bootstrap에서 textarear rows 적용시 class가 "h-25"설정되어야 함. -->
            <textarea class="form-control h-25"
                      id="content"
                      name="content"
                      rows="10"
                       >[[${dto.content}]]</textarea>
            <label for="content" >Comments</label>

          </div>

          <!-- 작성자,  이메일 1행 2열로 재배치 -->
          <div class="row">
            <!-- 3. 게시글 작성자 -->
            <div class="form-floating mb-3 col-6">
              <input type="text" class="form-control"
                     id="writer"
                     name="writer" th:value="${dto.writer}" readonly
                     >
              <label for="writer">Writer</label>
            </div>

            <!-- 4. 게시글 이미지 첨부파일
            <div class="form-floating mb-3">
              <input type="text" class="form-control"
                     id="writer"
                     name="writer" th:value="${dto.writer}" readonly
                     placeholder="반드시 내용이 입력되어야 합니다." >
              <label for="writer">Writer</label>
            </div>    -->

            <!-- 5. 게시글 작성자 이메일
             현재 로그인 사용자와 게시글 작성자가 동일한 판별하기위한 항목 -->
            <div class="form-floating mb-3 col-6">
              <!-- 로그인 상태일 경우만 #authentication객체변수 적용  -->
              <input type="email" class="form-control"
                     id="email"
                     name="email"
                     th:value="${dto.email}" readonly  />
              <label for="email">Email</label>
            </div>

          </div>



          <!--등록일, 수정일 1행 2열로 재배치 -->
          <div class="row">
            <!-- 6. 게시글 등록일, 수정일 -->
            <div class="form-floating mb-3  col-6">
              <input type="text" class="form-control"
                     id="regDate"
                     th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly
                     >
              <label for="regDate">RegDate</label>
            </div>
            <div class="form-floating mb-3 col-6">
              <input type="text" class="form-control"
                     id="modDate"
                     th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly
                      >
              <label for="modDate">ModDate</label>
            </div>
          </div>

          <!-- 4. List, Modify 버튼-->
          <div class="my-4">
            <button type="button" class="btn btn-primary   listBtn">List</button>
            <button type="button" class="btn btn-secondary modBtn" >Modify Finish</button>
            <button type="button" class="btn btn-danger    removeBtn" >Remove</button>
          </div>

          <!-- 7. 첨부 파일 버튼 -->
          <div class="input-group mb-3  mt-3">
            <label class="input-group-text">Images</label>
            <div class="form-floating uploadHidden">
              <button type="button"  class="btn btn-primary px-3 uploadFileBtn">Add Files</button>
            </div>
          </div>

        </form>
      </div>

    </div>


  <!-- 첨부파일 관련 UI -->
    <!-- 1. 첨부파일 섬네일 view -->
    <div class="row mt-3">
      <div class="col">

        <div class="container-fluid d-flex uploadResult"
             style="flex-wrap: wrap">

          <!-- [[${dto.fileNames}]] -->

          <!-- 기존에 이미지 첨부파일 View: fileName문자열구성 => uuid+"_"+파일이름.확장자   -->
          <th:block th:each="fileName:${dto.fileNames}">
          <div th:with="arr=${fileName.split('_')}"
               class="card" style="width: 18rem;">

            <div class="card-header d-flex justify-content-between">
              <div>[[${arr[1]}]]</div>
              <div>
                <button class="btn-sm btn-danger  px-2"
                        th:onClick="removeFile([[${arr[0]}]], [[${arr[1]}]], this)">X</button>
              </div>
            </div>
            <div class="card-body">
              <!-- 섬네일 이미지 파일 view -->
              <img th:src="|/view/s_${fileName}|" th:data-src="${fileName}" />
              <!-- 원본 이미지 view
              <img th:src="|/view/${fileName}|" th:data-src="${fileName}" />
              -->
            </div>

          </div>
          </th:block>
          <!-- ------------------------------------------ -->

        </div>
      </div>
    </div>

    <!-- 2. 첨부파일 추가를 위한 모달창  UI -->
    <div>
      <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Upload File</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="input-group mb-3">
                <input type="file" name="files"  class="form-control"  multiple />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn  btn-secondary uploadBtn">Upload</button>
              <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>




  <!-- axios라이브러리 연결 -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- file upload 처리하는 javascript 연결 -->
  <script src="/js/upload.js"></script>
</div>

<!-- 현재 페이지에서만 사용하는 css 정의 -->
<style layout:fragment="mystyle" th:inline="css">
  .uploadResult > .card {
    margin-right: 0.3em;
    margin-bottom: 0.3em;
  }
 .uploadResult > .card:last-child {
    margin-right: 0;
  }

</style>

<!-- 현재 페이지에서만 사용하는 css 정의 -->
<script layout:fragment="myscript" th:inline="javascript">

  // 서버로 부터 응답받은 메시지: db처리한 후 결과 값 전송한 객체
  const errors = [[${errors}]]
  console.log('errors',errors);

  let errMessage = "";
  if (errors) {// 서버로 부터 응답 에러 메시지 처리
    for (let i=0; i<errors.length; i++){
      errMessage += `${errors[i].field}은 ${errors[i].code}\n`;
    }

    // 웹브라우저의 세션 기록을 관리하는 JavaScript의 History API메서드
    // 브라우저의 세션 기록을 수정하거 대체하는 역할
    //history.replaceState({},null, null);

    alert(errMessage)
  }

  // 현재 글번호 게시글 페이징 정보
  const link = [[${pageRequestDTO.getLink()}]]
  const formObj = document.querySelector("#f1")


  // 1. Modify 버튼 기능 처리
  document.querySelector('.`modBtn`').addEventListener('click', function(e){
    e.stopPropagation();// 현재 요소의 이벤트발생을 상위요소에서 이벤트 감지 하지 않게 기능
    e.preventDefault(); // 기본 기능 제거
    console.log("modify")

    // javascript에서 action, method 속성 변경: 페이징 정보 추가
    formObj.action = `/board/modify?${link}`


    // ------------------------ //
    // 새로추가될 첨부파일
    // ------------------------ //
    appendFileData()

    // ------------------------ //
    // 업로된 첨부파일 삭제
    // ------------------------ //
    callRemoveFiles()

    // ------------------------ //
    formObj.method = 'post';    // POST방식
    formObj.submit();



    // Get방식(수정페이지요청)
    //self.location=`/board/modify?${link}`
  });

  // ----------------------------------------------------------- //
  // const uploadResult = document.querySelector('.uploadResult')
  // ----------------------------------------------------------- //
  function appendFileData(){
    // 이미지 첨부파일 처리
    const target = document.querySelector('.uploadHidden')    // Add Files버튼(모달창 호출 버튼)
    const uploadFiles = uploadResult.querySelectorAll('img')  // 이미지 첨부파일 있을 경우(업로드 처리후 img태그요소)


    console.log('.uploadHidden',target)
    console.log('uploadFiles', uploadFiles)

    let str = ""
    for (let i=0; i<uploadFiles.length; i++){ // 이미지 첨부파일이 1개이상일 경우
      const uploadFile = uploadFiles[i]       // img태그 배열
      const imgLink = uploadFile.getAttribute('data-src')

      // 이미지 파일 이름을 hideen input요소에 저장
      str += `<input type='hidden' name='fileNames' value="${imgLink}">`
      //console.log("imges: "+ imgLink);`

    }// end for

    // [Add Files]버튼 =>  <input type='hidden' name="fileNames"/>요소 전환
    target.innerHTML = str;

  }
  // -------------------------------------------------------- //
  function callRemoveFiles(){
     // 삭제할 첨부파일 목록: [{xx.xx},...]
     removeFileList.forEach( ({uuid, fileName}) => {
      console.log("callRemoveFiles: ",uuid, fileName)
        // 업로드파일 삭제 요청: axios
        removeFileToServer({uuid, fileName})
                .then(response => {
                   // 삭제후 서버로부터 응답
                   console.log(response)
                })
     })
  }

  // 2. List 버튼 기능 처리
  document.querySelector('.listBtn').addEventListener('click', function(e){
    e.stopPropagation();
    e.preventDefault(); // 기본 기능 제거
    console.log("list")

    // 전송 기능
    //formObj.submit();

    // 리셋 기능(폼값 초기화)
    //formObj.reset();

    self.location=`/board/list?${link}`
  });

  // -------------------------------------------------------- //
  // 3. Remove 버튼 기능 처리 => 특정 번호 게시글 삭제
  // -------------------------------------------------------- //


  document.querySelector('.`removeBtn`').addEventListener('click', function(e){
    e.stopPropagation();
    e.preventDefault(); // 기본 기능 제거
    console.log("remove")


    // 첨부파일 이미지 목록속성만 추출하여 삭제목록에 저장 => 전역배열 => removeFileList
    const delFiles = [[${dto.fileNames}]]
    if (delFiles.length > 0) {
        console.log('delFiles', delFiles,[[${dto.fileNames}]])

        for (fName of delFiles){
          const arr = fName.split("_")
          const uuid = arr[0]
          const fileName = arr[1]

          //console.log(uuid, fileName)
          // 삭제할 첨부파일 목록에 저장된 => callRemoveFiles()메서드에서 삭제요청
          // 구조분해할당형식의 값전달 시: 보내쪽과 받는쪽의 매개변수가 동일해야 함.
          removeFileList.push({uuid,fileName})
        }

        //console.log("remove button :"+removeFileList)
        //console.log("remove button :"+removeFileList[0])
    }




    // 1.첨부파일 추가  => 이미지첨부파일 form에 추가
    appendFileData()
    // 2. View 표시되지 않은 첨부파일(x버튼클릭시 화면에서 숨기기한 첨부파일 목록) form에 추가 => boardImage에 등록된 자료 삭제 요청
    appendNotShownData()

    // 3. 업로된 첨부파일 삭제: removeFileList객체에 있는 첨부파일 목록 읽어와 첨부파일삭제요청에 전달
    callRemoveFiles()


    // javascript에서 action, method 속성 변경
    formObj.action = `/board/remove`
    formObj.method = 'post';
    formObj.submit();

  });

  // -------------------------------------------------------- //
  function appendNotShownData(){    // [remove] 버튼 클릭시 첨부파일 관련 정보 삭제
    // 삭제할 첨부파일 목록 => [X]버튼 클릭시 선택된 첨부파일이름
    if (removeFileList.length == 0){ return  }

    const target = document.querySelector('.uploadHidden')
    let str = ''
    for (let i=0; i<removeFileList.length; i++){
      // const {a,b} = {10,20} => 구조분할할당
      const {uuid, fileName} = removeFileList[i]  // removeFileList.push({uuid, fileName})
      str += `<input type='hidden', name='fileNames' value="${uuid}_${fileName}">`
    }
    target.innerHTML += str;
  }






  // -----------첨부 파일 추가 이후 --------------------- //
  // ------------------------------------------------  //
  //  게시글 삭제작업에서 첨부파일 [X]버튼으로 삭제시:
  //  이미지를 화면에 보지않도록 제거 , 업로된 파일 삭제하지 않음
  // -----------------------------------------------  //
  // 실제 수정작업 진행시 삭제될 파일 목록 저장
  // [10,20.'hong'], [{10,20},{'hong','kim'}]

  const removeFileList = [] // 배열객체 선언

  // 삭제할 첨부파일 목록 저장 및 화면에서 제거
  function removeFile(uuid,fileName, obj){

      // 삭제할 파일목록 저장
      if(!confirm("파일을 삭제하시겠습니까?")){
          return
      }

      console.log(uuid)
      console.log(fileName)
      console.log(obj)

      // 삭제할 파일목록 저장
      removeFileList.push({uuid,fileName})
      console.log('화면에서만 삭제한 이미지파일:', removeFileList)

      // 요소.closest('선택요소') : 요소기준으로 상위요소중 가장가까운 요소 선택
      // 현재요소에서 상위(부모)요소 찾을 경우 적용

      // 자바스크립트 요소제거 : remove() removeChild()
      // '.card' 요소제거: 썸네일 이미지 화면에서 삭제
      const targetDiv = obj.closest(".card")
      targetDiv.remove()

  }


  // --------------------------------------------------------------------------------//
  // [Add Files]클릭시 업로드 모달창 띄우기
  // --------------------------------------------------------------------------------//
  const uploadModal = new bootstrap.Modal(document.querySelector('.uploadModal'))

  // 1. [Add Files]버튼 클릭하면 모달창 띄우기
  document.querySelector(".uploadFileBtn").addEventListener('click',function(e){
    e.stopPropagation()
    e.preventDefault()

     uploadModal.show();// 모달창 표시

  })

  // 2. 업로드 모달에서 Close버튼 클릭
  document.querySelector(".closeUploadBtn").addEventListener('click',function(e){
    e.stopPropagation()
    e.preventDefault()

     uploadModal.hide();// 모달창 숨기기

  })


  // 3.  업로드 모달에서 uploadBtn 버튼 클릭: 선택한 파일을 서버에 업로드처리
  document.querySelector(".uploadBtn").addEventListener('click',function(e){
    e.stopPropagation()
    e.preventDefault()

    // 자바스크립트 FormData객체를 이용하여 전송할 파일을 저장(보관)
    const formObj = new FormData()
    const fileInput = document.querySelector("input[name='files']")

    const files = fileInput.files
    for (let i=0; i<files.length; i++){       // "files"키이름은 서버에 받을 UploadFileDTO객체속성중에서 files과 동일한 속성명이면 1:1자동 맵핑
      formObj.append("files", files[i])       // javascript FormData객체를 이용해서 정보를 추가
    }

    // 업로드 처리하는 함수 호출: axios요청
    uploadToServer(formObj).then( result => {
      console.log("업로드 정상처리 응답결과:"+result.data)

      // 업로드된 결과를 JSON파일로 view 함수 호출
      for (const uploadResult of result){
        showUploadFile(uploadResult)
      }
      // 모달창 숨기기
      uploadModal.hide()
    }).catch( e => {
      console.log('업로드 실패=>', e)
      uploadModal.hide()
    })
  })  // end uploadToServer()


  //  4. 업로드된 결과값을 View해서 보여줄 태그 요소 추출
  const uploadResult = document.querySelector('.uploadResult');

  // ------------------------------------- //
  // 업로드된 결과 view함수 정의
  // ------------------------------------- //
  /*
   UpDownController->"/upload"처리후 -> 서버에서 보낸 객체정보(UploadResultDTO)을 받음)
   서버에 보내준 data : UploadResultDTO.uuid, xxx.fileName, xxx.img, xxx.getLink()구조 객체 => JSON변환(객체.속성,... 객체.메서드)
   서버로 부터 넘겨받은 객체.속성 : xxx.uuid, xxx.fileName,  xxx.img
   서버로 부터 넘겨받은 객체.메서드 :  xxx.Link() => Link메서드이름으로 데이터 보관된 상태이므로 함수명으로 데이터 읽기가능
  */
  // ------------------------------------- //

  function showUploadFile({uuid, fileName, img, link}){

    console.log("file name:",fileName)
    console.log("uuid:",uuid)
    console.log("link:",link) // link는 Link()을 실행하여 결과값을 출력
    console.log("img:",img)

    // 문자열와 변수 같이 사용시 => "name:"+fileName => `name:${fileName}`
     const str =
     `
      <div class="card" style="width: 18rem;">
        <div class="card-header d-flex justify-content-between">
          <div>${fileName}</div>
          <div>
            <button class="btn-sm btn-danger  px-2"
                    onClick="javascript:removeFile('${uuid}', '${fileName}', this)">X</button>
          </div>
        </div>
        <div class="card-body">
            <img src="/view/${link}" data-src="${uuid+"_"+fileName}" />
        </div>
      </div>
     `

     // 문자열 => DOM으로 변환 =>  '.uploadResult' 요소 하위요소 입력
     uploadResult.innerHTML += str

  }




</script>

</html>

<!--
  사용목적 요약

- 현재 페이지의 URL을 새로운 URL로 변경
- 이에 따라 페이지의 상태 정보도 업데이트
- 실제로 페이지의 리로드나 네트워크 요청은 발생하지 않음
- 사용자 경험을 개선하면서도 페이지 간 전환이나 상태 관리를 자유롭게 제어

ex(
// 현재 URL: http://example.com/page1
const newState = { data: 'some data' };
// 현재 URL과 상태를 새로운 URL과 상태로 변경
history.replaceState(newState, '', 'http://example.com/page2');

-->