<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}"    >


<!-- 현재 페이지에서만 사용하는 컨텐츠(내용) 정의 -->
<div layout:fragment="content" class="p-4">

    <div class="card">
      <div class="card-header">
        Board Read
      </div>

      <div class="card-body m-4">
        <form action="/board/register" method="post" >
          <!-- 1. 글 제목 -->
          <div class="form-floating mb-3">

            <input type="text" 	class="form-control"
                   id="bno"
                   name="bno"  th:value="${dto.bno}" readonly  >
            <label for="title" >Bno</label>
          </div>

          <!-- 1. 글 제목 -->
          <div class="form-floating mb-3">

            <input type="text" 	class="form-control"
                   id="title"
                   name="title"   th:value="${dto.title}" readonly
                   placeholder="2자이상 100이내로 작성하세요">
            <label for="title" >Title</label>
          </div>

          <!-- 2. 게시글 내용 -->
          <div class="form-floating mb-3">
            <!-- bootstrap에서 textarear rows 적용시 class가 "h-25"설정되어야 함. -->
            <textarea class="form-control h-25"
                      id="content"
                      name="content"
                      rows="10"
                      readonly
                       >[[${dto.content}]]</textarea>
            <label for="content" >Comments</label>

          </div>
          <!-- 3. 게시글 작성자 -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="writer"
                   name="writer" th:value="${dto.writer}" readonly
                   placeholder="반드시 내용이 입력되어야 합니다." >
            <label for="writer">Writer</label>
          </div>
          <!-- 4. 게시글 등록일, 수정일 -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="regDate"
                   th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly
                   >
            <label for="regDate">RegDate</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="modDate"
                   th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly
                    >
            <label for="modDate">ModDate</label>
          </div>


          <!-- 4. List, Modify 버튼-->
          <div class="my-4">
            <!-- 현 글번호에 대한 페이징 정보를 넘겨받아서 list요청시 페이징 정보와 같이 요청하면 현재 글번호가 해당되는 list페이지 추출됨 -->
            <div class="float-end" th:with="link=${pageRequestDTO.getLink()}">
              <a th:href="|@{/board/list}?${link}|">
                <button type="button" class="btn btn-primary ">List</button></a>
              <a th:href="|@{/board/modify(bno=${dto.bno})}&${link}|">
                <button type="button" class="btn btn-secondary" >Modify</button></a>
            </div>
          </div>

        </form>
      </div>

    </div>
  <!-- --------------------------------------------------------------------  -->
  <!-- 댓글 list view -->
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="my-4">
        <button class="btn btn-info addReplyBtn">ADD REPLY</button>
      </div>
      <div class="">
        <ul class="list-group replyList">
          댓글리스트
        </ul>
      </div>
    </div>
  </div>
  <!-- 댓글 페이징 -->
  <div class="row mt-3">
    <div class="col">
      <ul class="pagination replyPaging">
        댓글 페이징 번호
      </ul>
    </div>
  </div>




  <!-- --------------------------------------------------------------------  -->
  <!-- Modal UI start-->
  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- 메시지 전달 하는 부분 -->
          <p id="modal_message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--          <button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
  <!-- Modal UI  end-->
  <!-- --------------------------------------------------------------------  -->


  <!-- Axios 라이브러리 연결 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/reply.js"></script>
</div>






<!-- 현재 페이지에서만 사용하는 css 정의 -->
<style layout:fragment="mystyle" th:inline="css">


</style>

<!-- 현재 페이지에서만 사용하는 css 정의 -->
<script layout:fragment="myscript" th:inline="javascript">

  //서버로 부터 응답받은 메시지: db처리한 후 결과 값 전송한 객체
  const result = [[${result}]]
  const bno = [[${dto.bno}]]  // 전역 변수

  /*
  //const reply_bno = document.querySelector('#bno').value;
  //console.log("reply_bno:", reply_bno);
  console.log("dto_bno:", bno);

  // ------------------------------------------------------ //
  // 특정 게시글에 대한 댓글 조회 : axios(비동기) 요청 테스트
  // ------------------------------------------------------ //
  // 비동기 처리방식
  getReply(bno)
        .then( data => {
                console.log(data);
                console.log(data.list);
         })
        .catch( e => {console.log(e)});
  // ------------------------------------------------------ //
  */


  const replyBnoList = document.querySelector('.replyList'); // 댓글 목록 DOM
  const replyPaging = document.querySelector('.replyPaging');// 페이지 목록 DOM

  // 4. 페이징 처리
  function printPages(data){
    console.log("paging:", data);

    // pagination
    let pageStr = ''

    // 이전
    if (data.prev) {
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start-1}">이전</a></li>`
    }

    // 페이지번호
    for (let i=data.start; i<=data.end; i++){
      pageStr += `<li class="page-item ${i==data.page?"active":""}"><a class="page-link" data-page="${i}">${i}</a></li>`
    }
    // 다음`
    if (data.next) {
    pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end+1}">다음</a></li>`
    }

    replyPaging.innerHTML = pageStr;

  }

  // 3. 서버로 부터 받아온 댓글을 DOM을 구성할 수 있는 문자열 생성 및 DOM생성
  function printList(replyList){
    let str ='';

    // 댓글이 1개 이상이면 처리
    if (replyList && replyList.length > 0 ){
      for (const dto of replyList){
        str +=
        `
          <li class="list-group-item d-flex replyItem">
          <span class="col-2">${dto.rno}</span>
          <span class="col-6" data-rno="${dto.rno}">${dto.replyText}</span>
          <span class="col-2">${dto.replyer}</span>
          <span class="col-2">${dto.regDate}</span>
          </li>
        `
      }// end for
    }// end for
    //console.log("list:", str);
    replyBnoList.innerHTML = str;
  }

  // 2. 게시글에 대한 댓글 서버에 요청해서 data 받아오기
  function printReplies(page, size, goLast){

    // 비동기 처리함수 호출
    getList({bno, page, size, goLast})
          .then( data => {
            //console.log(data.dtoList);

            printList(data.dtoList);// 댓글 목록 처리하는 함수 호출
            printPages(data);   // 페이징 처리할 함수 호출

          })
          .catch(e => {console.log(e)})
  }

  // 1.  게시글에 대한 댓글 요청하는 함수 실행(호출)
  let page = 1; // 현재 페이지 번호
  let size = 5; // 페이지해당 되는 레코드(행)의 개수
  printReplies(page,size,true);



  // 5. 댓글 등록 모달
  // 6. 이벤트 처리

  // 6-1. 페이지 번호 클릭
  replyPaging.addEventListener('click', function(e){
    e.preventDefault();
    e.stopPropagation();

    const target = e.target;
    if (!target || target.tagName != 'A'){
      return;
    }

    // <a>태그일 경우만 처리
    // 현재 클릭한 태그 요소의 페이지 번호 추출0
    const pageNum = target.getAttribute("data-page");
    page = pageNum;
    console.log("page number:",page)
    printReplies(page, size)

  });












  // show modal창에 메시지 출력하기
  const modal = new bootstrap.Modal(document.querySelector('.modal'));

  let message = "";
  if (result) { // 응답이 있을 경우만 처리
    if (result=="modified"){// 응답 객체 내용이 "modified"이면 처리
        message = bno+"번 글번호 게시글이 수정 되었습니다.";

        // 모달 창에 전달할 메시지 태그 요소 추출
        const modal_message = document.querySelector('#modal_message');
        // 메시지 문자열를 태그요소에 넣기
        modal_message.innerHTML = message;

        // 모달 창 표시
        modal.show();
    }
  }




</script>


</html>