
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" >
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css"
        th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>

<div class="d-flex" id="wrapper">

  <!-- navigation bar-->
  <div class=" fixed-top">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">MyShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" th:id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"
                 href="/" th:href="@{/}">Home</a>
            </li>
            <!--          sec:authorize="hasAnyAuthority('ROLE_USER')"-->
            <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')" >
              <a class="nav-link" href="/admin/item/new"
                 th:href="@{/admin/item/new}">상품등록</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')" >
              <a class="nav-link" href="/admin/items"
                 th:href="@{/admin/items}">상품관리</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" href="/cart"
                 th:href="@{/cart}">장바구니</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" href="/orders"
                 th:href="@{/orders}">구매이력</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
              <a class="nav-link" href="/members/login"
                 th:href="@{/members/login}">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" href="/members/logout"
                 th:href="@{/logout}">로그아웃</a>
            </li>

          </ul>
          <!--  검색  키워드 폼
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        -->
        </div>
    </nav>
  </div>


  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#!">Action</a>
                <a class="dropdown-item" href="#!">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#!">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page content-->
    <div class="container-fluid">
      <h1 class="mt-4">Thymeleaf Template Simple Sidebar</h1>
      <hr>

      <!-- ----------------------------------------------------------
      <h1>로그인 작업후 authentication 정보 </h1>
      <div sec:authorize="isAuthenticated()">
        <h2>스프링 시큐리티를 사용하는 경우 Authentication타입을 이용해서 사용자 정보를 추출</h2>
        <h3>authentication 정보 추출</h3>
        <div th:text="${#authentication}"></div>
        <h3>authentication.principal 정보 추출</h3>
        <div th:text="${#authentication.principal}"></div>
        <h3>authentication.principal.authorities 정보 추출</h3>
        <div th:text="${#authentication.principal.authorities}"></div>
        <h3>authentication.principal.username 정보 추출</h3>
        <div th:text="${#authentication.principal.username}"></div>
        <h3>authentication.principal.passowrd 정보 추출</h3>
        <div th:text="${#authentication.principal.password}"></div>
      </div>
    </div>

    -->

  </div>


</div>


</div>





<!-- Bootstrap core JS-->
<script src="js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"  th:src="@{/js/scripts.js}"></script>


<script  th:inline="javascript">
  console.log("index.html");
  // ---------------------------------------------------------------------- //
  // 스프링 시큐리티를 사용하는 경우 Authentication타입을 이용해서 사용자 정보를 추출
  // ---------------------------------------------------------------------- //
  const auth = [[${#authentication}]]
  console.log("authentication:",auth);
  console.log("authentication.principal:",auth.principal);
  console.log("authentication.principal.authorities:",auth.principal.authorities);
  // ---------------------------------------------------------------------- //
</script>

</body>

</html>
